@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">        
        <p class="lead">TechInsight - Explore Tech Articles </p>       
    </section>      
</main>